parsy >= 1.4.0
LinkPython >= 0.1.1
pyliblo3 >= 0.11.3
# Made the below because macos didn't have 0.12.0, but now linux diesn't seem to have it either??
#pyliblo3 >= 0.12.0; sys_platform != 'darwin'
#pyliblo3 == 0.11.3; sys_platform == 'darwin'
ipython >= 7.30.0
parsimonious==0.9.0

pyqt5>=5.15
qscintilla>=2.13
